@import "../../app.scss";
.contact{
  height: 100vh;
  max-width: 1366px;
  margin: auto;
  display: flex;
  gap: 90px;
  padding-left: 100px;
  margin: 0;
  align-items: center;
 @include mobile{
  max-width: 0;
  min-width: 100vw;
  gap: 10px;
  max-height: 100vh;
  flex-direction: column;

  padding: 0;
  padding-top: 50px;
  justify-content: space-around;
 }
  .textContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    @include mobile{
      flex: 0.5;
      gap: 30px;
      align-items: center;
      height: 100px;
    }
    .item{
      @include mobile{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      }
    }
    h1{
      font-size: 100px;
      line-height: 88px;
     @include mobile{
      font-size: 50px;
      line-height: 40px;
      text-align: center;
     
     }
    }
    span{
      font-weight: 300;
    }
  }

  .formContainer{
    flex: 1;
    position: relative;
    @include mobile{
      flex: 0;
    }
    
    
    form{
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 500px;
      @include mobile{
        width: 300px;
      }
      input,textarea{
        padding:20px;
        background-color: transparent;
        border: 1px solid white;
        width: 100%;
        color: white;
        border-radius: 5px;
       @include mobile{
        width: 100%;
       font-size: 1em;
       }
      
       
      }
      button:hover{
        color: white;
        transition: all 0.7s;
        background-color: #0c0c1d ;
        box-shadow: 2px 2px 5px white;
      }
    
      button{
        transition: all 0.7s;
        padding: 20px;
        border: none;
        background-color: orange;
        cursor: pointer;
        border-radius: 5px;
        font-weight: 500;
     
      }
    }
   
  }
}

