@import "../../app.scss";

.banner{
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
  .slider{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 30%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform:perspective(1000px);
    animation: autoRun 20s linear infinite ;
    z-index: 100;
    @include mobile{
      top: 20%;
      left: calc(50% - 50px);
    }
    .item{
      position: absolute;
      inset: 0 0 0 0;
      width: 200px;
      height: 150px;
      border-radius: 10px;
      box-shadow: 2px 2px 5px black;
      transform:rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(550px);
      @include mobile {
        height: 130px;
        width: 140px;
        transform:rotateX(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(200px) ;
      }
      img{
        border-radius: 10px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include mobile{
          border-radius: 10px;
        }
      }
    }
  }

  .content{
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translate(-50%);
    width: 100vw;
    padding-left: 100px;
    padding-right: 100px;
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @include mobile{
      flex-direction: column;
     
      padding-left: 0px;
      padding-right: 0px;
      text-align: center;
      padding-bottom: 100px;
     }

    h2{
      font-size: 3em;
      @include mobile{
        text-align: center;
        font-size: 2em;
      }
    }

    h1{
      text-align: center;
      font-size: 13em;
      line-height: 1em;
      color: transparent;
      position: relative;
      
      @include mobile{
        font-size: 8em;
        text-align: center;
      }
    }

    h1::after{
      position: absolute;
      inset: 0 0 0 0;
      content: attr(data-content);
      z-index: 10;
      -webkit-text-stroke: 2px darkslateblue;
      color: transparent;
      
    }
    .author{
      font-family: Poppins;
      text-align: right;
      max-width: 200px;
      @include mobile{
        display: flex;
        max-width: 0;
        min-width: 300px;
        justify-content: space-between;
       
      }
        p{
          font-size: 20px;
          padding: 10px;
          @include mobile{
            padding: 4px;
            text-align: center;
          }
         }
      
    }
  }
}

@keyframes autoRun {
  from{
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
  }to{
    transform: perspective(1000px) rotateX(0deg) rotateY(360deg);
  }
}

@include mobile{
  @keyframes autoRun {
    from{
      transform: perspective(1000px) rotateZ(0deg) rotateX(0deg);
    }to{
      transform: perspective(1000px) rotateZ(0deg) rotateX(360deg);
    }
  }
}